<footer>
    <div class="container">
        All articles belog to <a href="https://www.theverge.com" target=_"blank">the Verge</a>
        <a href="/articles-json">Article JSON</a>
    </div>
</footer>